*.class

/test.jpage
/copier-dash33791.properties
/copier.drop.txt
/copier.ignore.txt
/copier.properties
/copier.target.txt
/drop-dash0000.properties
/drop-dash0000.txt
/drop-dash33791.properties

bin/
/copier-dash100145.properties
/dumptool-ssl.properties
